PORT=3000
API_VER=/v1
JWT_SECRET=replace_with_strong_jwt_secret
COOKIE_SECRET=replace_with_strong_cookie_secret
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/manajemen_piket
