<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jadwal Piket Asrama Viyata Tirtagangga</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <style>
    body {
      background-color: #f8f9fa;
    }

    .login-container {
      max-width: 400px;
      padding: 2rem;
      margin: auto;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .login-container .title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
      color: #007bff;
    }

    .login-container .form-outline {
      margin-bottom: 1.5rem;
    }

    .login-container .btn-primary {
      width: 100%;
    }

    .login-container .social-buttons button {
      margin: 0 0.5rem;
    }

    .login-container .register-link,
    .login-container .forgot-password {
      display: block;
      text-align: center;
      margin-top: 1rem;
    }
  </style>
</head>

<body>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-container">
      <a href="/" class="back-button"><i class="fas fa-arrow-circle-left fa-lg"></i></a>
      <div class="title">Login</div>
      <form action="/login" method="POST">
        <!-- Email input -->
        <div class="form-outline">
          <input id="emailAdmin" class="form-control" required />
          <label class="form-label" for="form2Example1">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline">
          <input type="password" id="passAdmin" class="form-control" required />
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- Remember me and Forgot password -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31">Remember me</label>
            </div>
          </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Sign in
        </button>
      </form>
    </div>
  </div>
  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/home.js"></script>
</body>

</html>